.video-card {
  overflow: hidden;
  /* border-radius: 8px; */
}

.video-card-large {
  width: 720px;
  height: 320px;
}

.video-card-small {
  width: 100%;
}

.video-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background: #000;
}

.video-card-large .video-card-image {
  aspect-ratio: 16 / 9;
}

.video-card-small .video-card-image {
  aspect-ratio: 16 / 9;
}