.slider-news-wrapper {
  width: 726px;
}

.slider-contentA {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  background-color: #ffffff;
  margin-top:15px;
  box-sizing: border-box;
    background-color:gradient(to right, #ffffff, #f7f7f7);
    postion: relative;
    

}

.slider-left {
  width: 330px;
  flex-shrink: 0;
}

.slider-image {
  width: 364px;
  height: 206px;
  object-fit: cover;
}

.slider-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  

}

.slider-text-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.slider-time {
  font-size: 12px;
  color: #666666;
  font-weight: 500;

}

.slider-title {
  font-size: 15px;
  /* color: #222222; */
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  
}

.bpn-style {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 4px;
  
}

.bpn-h1 {
  font-size: 14px;
  color: #65A62C;
  font-weight: 500;
  margin: 0;
  line-height: 1;
}

.slider-pagination-wrapperA {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  margin-top: auto;
  
}

.slider-pagination-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
}

.slider-pagination-wrapper button img {
  width: 16px;
  height: 16px;
}

.slider-news-dots {
  display: flex;
  align-items: center;
  gap: 2px;
  
}

.second-slider-dot {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  font-size: 14px;
  float:left;
  margin:0 4px;
  line-height: 20px;
  font-weight: 600;
background: #9b9b99;  
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #e5e7eb;
  background: #9b9b99 !important;  

}

.second-slider-dot:hover {
  background: #65A62C;
  color: #ffffff;
}

.second-slider-dot.second-slider-dot-active {
  background: #65A62C !important;
  color: #ffffff !important;
}