.search-bar-form {
  display: flex;
  align-items: center;
  width: 185px;
  max-height: 32px;
  align-items: center;
  border: 1px solid #e3e3e3;
  border-radius: 1px;
  gap: 4px;
  padding: 8px;
  
}

.search-bar-input {
  
  font-weight: 400;
  font-size: 12px;
  color: #757575;
  background: transparent;
  
}

.search-bar-input::placeholder {
  color: #757575;
 
}

.search-bar-button {
  color: #6b7280;
  border-radius: 0.25rem;

}

.search-bar-button:hover {
  color: #2563eb;
}

.search-bar-icon {
  width: 1rem;
  height: 1rem;
}
