.navitem{
    color: #535353;
    line-height: 39px;
    font-weight: 400;
    font-size:13px;
    cursor: pointer;
    opacity: 1;
    display: block;
    
   

}
.shadow{
    box-shadow: 0 1px 10px rgba(0, 0, 0, .08);}

    .navitem {
  position: relative;
}

/* მთავარი კატეგორიის ლინკი */

.nav-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 8px 0;
  
}

/* ლურჯი ხაზი */

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 0;
  height: 2px;

  background-color: #2563eb;

  transition: width 0.25s ease;
}

/* Hover-ზე ხაზი */

.nav-link:hover::after {
  width: 100%;
}


.more-menu {
  position: relative;
}


.more-button::after {
  display: none;
}

.more-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 8px 0;
}




.more-dropdown {

  position: absolute;
    right: 0;
    top: 39px;
    z-index: 2;
    background: #fff;
    display: none;
    transition: .6s;
    width: 165px;
    padding: 6px 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .08);
  
}



.more-menu:hover .more-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
    display: flex;
  flex-direction: column;
}


/* Dropdown-ის შიდა box */

.more-dropdown-inner {
    color: #535353 !important;
    padding: 4px 18px !important;
    text-align: right !important;
    height: auto !important;
    line-height: normal !important;
    border: 0 !important;

}


/* Dropdown კატეგორიები */

.dropdown-link {
  position: relative;

  display: block;
  flex-direction: column;

  padding: 8px 0;

  color: #222;

  text-decoration: none;

  white-space: nowrap;

  transition: color 0.2s ease;
  
}


/* Dropdown hover */

.dropdown-link:hover {
  color: #2563eb;
    display: flex;
  flex-direction: column;
}


/* Dropdown hover underline */

.dropdown-link::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: 3px;

  width: 0;
  height: 1px;

  background-color: #2563eb;

  transition: width 0.2s ease;
  
}

.dropdown-link:hover::after {
  width: 100%;
    display: flex;
  flex-direction: column;
}