.news-card-active {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 0.25rem;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04); */
}

.news-card-image-active {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.news-card-body-active {
  padding: 1rem;
}

.news-card-title-active {
  font-size: 1.125rem;
  font-weight: 700;
  color: #111827;
}

.news-card-time-active {
  margin-top: 0.75rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #6b7280;
}

.news-card-preview-active {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #4b5563;
}

.news-card-compact {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background: #ffffff;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}

.news-card-image-compact {
  width: 230px;
  height: 130px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.news-card-content-compact {
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
  min-height: 2.5rem;
  overflow: hidden;
}

.news-card-title-compact {
  font-size: 0.875rem;
  font-weight: 600;
  color: #1f2937;
}

.news-card-time-compact {
  font-size: 0.625rem;
  color: #5a5a5a;
}

.news-card-preview-compact {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #4b5563;
}
