.side-news-card {
  width: 270px;
  max-height: 1298px;

  box-sizing: border-box;

  background: #ffffff;

  display: flex;
  flex-direction: column;
border:none;
  padding: 0 18px;

  overflow: hidden;
}




.side-news-list {
  width: 234px;

  display: flex;
  flex-direction: column;
}



.side-news-item {
  width: 234px;
  min-height: 420px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
cursor:pointer;
  padding: 0;

  border-bottom: 1px solid #000;

  overflow: hidden;
}




.side-news-meta {
  width: 234px;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
  padding-right: 170px;  

  gap: 7px;

  box-sizing: border-box;
}


.side-news-category {
  font-size: 12px;
  font-weight: 400;

  color: #9b9b9b;

  white-space: nowrap;
}


.side-news-time {
  font-size: 12px;
  font-weight: 600;
  

  color: #555555;

  white-space: nowrap;
}




.side-news-image {
  width: 234px;
  max-height: 132px;
  z-index: auto;
  flex-shrink: 0;

  display: block;

  object-fit: cover;

  margin: 0;
}




.side-news-item-title {
  max-width: 234px;


  box-sizing: border-box;

  margin: 10px 0 0 0;

  padding: 0;

  font-size: 13px;
  font-weight: 500;


  color: #333333;


  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}




.side-news-link-wrap {
  width: 234px;

  display: flex;
  align-items: center;

  margin-top: 10px;
}


.side-news-link {
  display: inline-flex;
  display: flex-end;
  align-items: center;
  gap: 6px;

  box-sizing: border-box;

  padding: 5px 8px;

  border-radius: 2px;

  background: #073d83;

  color: #ffffff;

  font-size: 11px;
  font-weight: 500;

  text-decoration: none;
}


.side-news-link span {
  font-size: 9px;
}



.side-news-more {
  width: 234px;
  height: 48px;

  flex-shrink: 0;

  margin-top: 12px;

  background: #1e5ba6;

  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  cursor: pointer;
}


.side-news-more span {
  font-size: 14px;
  font-weight: 400;

  line-height: 30px;

  color: #ffffff;
}


.side-news-more img {
  width: 14px;
  height: 14px;

  object-fit: contain;
}




.side-news-loading {
  width: 234px;

  padding: 20px 0;

  text-align: center;

  font-size: 14px;

  color: #777777;
}